.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 3fr 9fr 1fr;
    grid-template-columns: 2fr 1fr 2fr;
    border-style: solid;
    border-width: 1px;
    border-color: #f6f6f6;
}

.hero_image {
    grid-area: hero_image;
    border-style: solid;
    border-width: 1px;
    border-color: #f6f6f6;
}

.hero_info {
    grid-area: hero_info;
    border-style: solid;
    border-width: 1px;
    border-color: #f6f6f6;
}

.main {
    grid-area: main;
} 

.footer {
    grid-area: footer;
}

.article {
    display: grid;
    grid-template-areas: 
    'header header header'
    'hero_image hero_image hero_info'
    'main main main'
    'footer footer footer';
    background-color: #f6f4ef;
}